git+https://github.com/TakutoYoshikai/angie-sirius.git
git+https://github.com/TakutoYoshikai/lina.git
git+https://github.com/TakutoYoshikai/cad.git
git+https://github.com/TakutoYoshikai/sirius.git
git+https://github.com/TakutoYoshikai/parade.git
git+https://github.com/TakutoYoshikai/mist-dispersion.git
git+https://github.com/TakutoYoshikai/phalanx.git
git+https://github.com/TakutoYoshikai/miki.git
